
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;  
}

html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
h1,h2,h3,p,a{
  font-family: 'Raleway', sans-serif !important;
}

.navbar #main a{
  position: fixed;
  top:0; 
  right: 0; 
}

#head img{
  width: 25px;
  height: 25px;
}


#collapsibleNavbar ul li a:hover{
  color:red;
  transition: 0.3s;
}


/*                 PARTICULES             */

canvas{
  width: 100vw;
  height:90vh;
  background-color:#fff;
}

#webcoderskull{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
  padding: 0px;
  width: 100%;
  
}

#webcoderskull h1{
  letter-spacing: 8px;
  font-size: 4rem;  
} 
#webcoderskull #title{
  text-align: center;
}


.header-contact{
    height: 530px;
    
}

.text-body:hover{    
    color:grey !important;
}



#sec{
    font-size:35px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px;
}

.small-header{
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

.expert{
    padding-top: 50px;
    left: 25px;
    padding-bottom: 150px;
}
.move{
  padding-top: 50px;
  padding-bottom: 150px;
}
hr{
  width: 45%;
  margin: auto;
  background-color: rgb(255, 247, 247);
}
  
.outer {
    width: 2px;
    height: 100%;
    margin-left: 25px;
    position: relative;
    overflow: hidden;
  }
.inner {
    position: absolute;
    width:100%;
    height: 40%;
    background: red;
    top: 30%;
    box-shadow: 0px 0px 30px 20px red;
  }


/*MODAL---------------------------------*/


 .cookie-consent-modal{
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  align-items: flex-end;
}
.cookie-consent-modal.active{
  display: flex;
}
.content{
  background-color: #fff;
  padding: 2vw 2vw;
  width: 450px;
  border-radius: 10px 10px 0 0;
}

.btns{
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}
.btn{
  border: none;
  outline: none;
  border-radius: 0;
  padding: 5em 1.5em;
  width: 100px;
  margin-right: 1em;  
  text-transform: uppercase;
}
.btn.accept{
  background-color: lightskyblue;
  color: #fff;
}
.btn.accept{
  color:#e6e6e6;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px){
    
    
    #about h1{font-size: 1.25em !important;}
    #about p{font-size: 0.9em;}
    #sec{font-size: 16px; margin: 0px; padding: 5px;}
    #webcoderskull{top: 20%;}
    #webcoderskull #title{text-align: left;}     
    #webcoderskull h1{font-size: 30px;}    
    canvas{height: 60vh;width: 100vw;margin-left: 0px;}
    .expert{padding:5px; margin: 5px; left:15px}
    .expert nav li a{font-size: 1.125em;}
    .move{padding-top: 10px; padding-bottom: 50px;}    
    .cookie-consent-modal{height: 60vh;width: 100%;top: 0;left: 0;}
 
}

@media screen and (max-width: 810px){
  .expert{padding: 5px;}
  #sec{font-size:25px; margin-top:50px; margin-bottom: 100px; padding: 20px;}
}
@media screen and (max-width: 1980px){
  #webcoderskull h1{padding: 75px;}
  .small-header{font-size: 1.5em;}  
 /*  #about p, #career p{font-size: 1.5625em;} */
  #contact a{font-size: 1.375em;}
}

